img {
	margin-left: 5%

}

div {
	margin-right: 5%;
	margin-left: 5%;
}

nav {
	text-align: left;
	margin-right: 20%;
	margin-left: 5%;
}

section {
	margin-left: 40%;
	margin-right: 10%;
}

h1 {
	color: #FFAB66;
	text-align: center;
}

footer {
	color: white;
	background: #FFAB66;
	float: bottom;
}

aside {
	margin-right: 70%;
}



