nav { 
    float: left;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

h1 {
	color: #FFAB66;
	text-align: center;
}

footer {
	color: white;
	background: #FFAB66;
	margin-top: 150px;
	margin-bottom: 0px;
	position: static;
}

section {
	margin-left: 341px;
	border-left: 1px;
	padding: 1em;
	overflow: hidden;
}

article article img {
	float: right;
	margin-top: -495px;
}

form {
	margin-left: 40px;
	margin-top: 40px;
	width: 200px;
}
