nav { 
    float: left;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

nav ol a {
	color:#FFAB66;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

nav img {
	margin-left: 20px;
}

nav article {
	margin-left: 20px;
	font-size: 12px;
}

h1 {
	color: #FFAB66;
	text-align: left;
	font-size: 50px;
}

footer {
	color: white;
	background: #FFAB66;
	margin-top: 150px;
	margin-bottom: 0px;
	position: static;
}

section {
	margin-left: 350px;
	border-left: 1px;
	padding: 1em;
	overflow: hidden;
}

article article img {
	float: right;
	margin-top: -495px;
}

form {
	margin-left: 40px;
	margin-top: 40px;
	width: 200px;
}

header {
	font-size: 60px;
	font-weight: bold;
	color: #FFAB66;
	margin-top: 5px;
}

.col-ms-4 {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

