img {

}

nav {
	color: darkgray;
	text-align: left;
	left: 10%;
	right: 90%;
}
article {
	margin-left: 30%;
	margin-right: 10%;
}
h1 {
	color: #FFAB66;
	text-align: center;
}

h2 {
	
}

footer {
	color: white;
	background: #FFAB66;
}
